Client/Connected Services/BookServiceReference/ServiceDemo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDemo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53601/ServiceDemo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53601/ServiceDemo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53601/ServiceDemo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDemo_ListOfBorrowedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfBorrowedItems" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_ListOfBorrowedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfBorrowedItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_getBorrowedBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBorrowedBooks" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_getBorrowedBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBorrowedBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_GetBookInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_GetBookInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_BorrowedBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowedBook" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_BorrowedBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowedBookResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IServiceDemo_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDemo">
    <wsdl:operation name="ListOfBorrowedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDemo/ListOfBorrowedItems" message="tns:IServiceDemo_ListOfBorrowedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDemo/ListOfBorrowedItemsResponse" message="tns:IServiceDemo_ListOfBorrowedItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBorrowedBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDemo/getBorrowedBooks" message="tns:IServiceDemo_getBorrowedBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDemo/getBorrowedBooksResponse" message="tns:IServiceDemo_getBorrowedBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDemo/GetBookInfo" message="tns:IServiceDemo_GetBookInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDemo/GetBookInfoResponse" message="tns:IServiceDemo_GetBookInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowedBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDemo/BorrowedBook" message="tns:IServiceDemo_BorrowedBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDemo/BorrowedBookResponse" message="tns:IServiceDemo_BorrowedBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDemo/GetBooks" message="tns:IServiceDemo_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDemo/GetBooksResponse" message="tns:IServiceDemo_GetBooks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDemo" type="tns:IServiceDemo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListOfBorrowedItems">
      <soap:operation soapAction="http://tempuri.org/IServiceDemo/ListOfBorrowedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBorrowedBooks">
      <soap:operation soapAction="http://tempuri.org/IServiceDemo/getBorrowedBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceDemo/GetBookInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowedBook">
      <soap:operation soapAction="http://tempuri.org/IServiceDemo/BorrowedBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IServiceDemo/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDemo">
    <wsdl:port name="BasicHttpBinding_IServiceDemo" binding="tns:BasicHttpBinding_IServiceDemo">
      <soap:address location="http://localhost:53601/ServiceDemo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>