Client/Connected Services/BookServiceReference2/ServiceDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53601/ServiceDemo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="ListOfBorrowedItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListOfBorrowedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="ListOfBorrowedItemsResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBorrowedBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBorrowedBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBorrowedBooksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bootID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetBookInfoResult" nillable="true" type="q2:BookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowedBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bootID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrowedBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="BorrowedBookResult" nillable="true" type="q3:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>